<nav class="h-[10%] w-full flex justify-between items-center px-5 bg-red-200 fixed top-0 left-0">
    <h1 class="text-2xl font-semibold">Blog</h1>
    <div id="nav1" class="flex gap-6">
        <a class="text-lg" href="/">Home</a>
        <a class="text-lg" href="/about">About</a>
        <a class="text-lg" href="/contact">Contact</a>
        <a class="text-lg" href="/create-blog">Create Blog</a>
    </div>
    <div id="btn">
        <a href="/login" class="bg-blue-300 px-4 py-2 rounded-md">Login</a>
        <a href="/register" class="bg-blue-300 px-4 py-2 rounded-md">Register</a>
    </div>
</nav>