<%- include('./partials/header') %>
  <!--  -->
  <%- include('./partials/nav') %>
    <!--  -->
    <div id="main" class="h-screen w-screen flex flex-col items-center justify-center">

      <div id="page" class="h-4/6 w-1/4 flex flex-col items-center text-center justify-evenly border-2 border-grey-400">
        <h1 class="text-4xl mb-5">Register User</h1>
        <form action="/login" method="post" class="form-control w-5/6 flex flex-col gap-y-4">
          <input class="border-2 rounded-md p-2" type="text" name="fullname" placeholder="Full Name">
          <input class="border-2 rounded-md p-2" type="email" name="email" placeholder="Enter your Email ID">
          <input class="border-2 rounded-md p-2" type="email" name="email" type="text" placeholder="Username">
          <input class="border-2 rounded-md p-2" type="password" name="password" placeholder="Password">
          <button class="bg-blue-400 p-1 rounded-lg font-semibold text-white hover:bg-blue-600">Register</button>
          <hr>
          <p>Already have an account? <a href="/login" class="text-blue-400 font-semibold hover:text-blue-600">Login</a>
          </p>
        </form>
      </div>
    </div>
    <!--  -->
    <%- include('./partials/footer') %>